/* begin template 'dating' */
@font-face {
    font-family: 'Dancing Script', cursive;
    src: url('../../src/assets/fonts/textfonts/dancingscript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

html {
    /* overwrite variables from framework.css */
    --dark-mode-text-color: rgb(240, 240, 240);
    --tertiary-color: hsl(211, 46%, 72%);
    --primary-color-hue: 243;
    --primary-color-saturation: 60%;
    --primary-color-lightness: 75%;
    --secondary-color-hue: 304;
    --secondary-color-saturation: 40%;
    --secondary-color-lightness: 75%;
    --box-shadow: 0 0 2rem rgba(50, 50, 50, .1);
    --font-size: 1.8rem;
    --default-radius: 1rem;
    --default-padding: 1.5rem;
    --default-font-family: "Segoe UI", Roboto, sans-serif;
    --default-border-radius: .5rem;
    --default-border-color: var(--light-gray);
    --default-text-color: #666;
    --box-border-color: #ddd;
    --button-border-radius: 3rem;
    --main-navigation-background: #fff;
    --hyperlink-color: var(--primary-color);
    --hyperlink-color-saturation: 70%;
    --active-table-cell-background: hsla(var(--primary-color-hue), var(--primary-color-saturation), var(--primary-color-lightness), .5);
    --primary-color-opacity: .1;
    --button-font-weight: 600;
    --transparent-background: rgba(255, 255, 255, 0.2);
    --site-footer-background: var(--transparent-background);
    --default-background: rgba(255, 255, 255, 0.2);
    --input-height: 4.6rem;
    --form-element-with-icon-padding: calc(var(--default-padding) * 2);
    --fieldset-background: rgba(255, 255, 255, 0.2);
    /* declare custom variables */
    --colored-background-gradient: linear-gradient(180deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    --colored-background-gradient-rotated: linear-gradient(0deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}

.page-wrapper {
    background-image: url("../images/background/background-dating-lightmode.jpg");
    background-size: cover;
}

h1 {
    font-family: 'Dancing Script', cursive;
}

.box, fieldset, #flex-section .flex-container > *,
#grid-section [class*="grid-"] > div, table {
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(.7rem);
    -webkit-backdrop-filter: blur(.7rem);
    background: var(--fieldset-background);
}

.main-navigation-wrapper {
    box-shadow: none;
}

tr {
    background: none;
}

:is(button, .button).primary {
    background: var(--colored-background-gradient);
}

:is(input, select, textarea, .input):focus {
    background: var(--primary-color-reduced-opacity);
}

html {
    &.dark-mode {
        #template-dating {
            --default-background: rgba(0, 0, 0, 0.2);
            --main-navigation-background: var(--dark-gray);
            --box-header-background: none;
            --fieldset-background: linear-gradient(180deg, hsl(var(--primary-color-hue), var(--primary-color-saturation), 7%) 0%, hsl(var(--secondary-color-hue), var(--secondary-color-saturation), 15%));

            background-image: url("../images/background/background-dating-darkmode.jpg");
        }
    }
}

@media (prefers-color-scheme: dark) {
    /* begin css for dark-mode only ------------------------------------------------------------------------------------------ */
    #template-dating {
        --default-background: rgba(0, 0, 0, 0.2);
        --main-navigation-background: var(--dark-gray);
        --box-header-background: none;
        --default-text-color: red;
        --fieldset-background: linear-gradient(180deg, hsl(var(--primary-color-hue), var(--primary-color-saturation), 7%) 0%, hsl(var(--secondary-color-hue), var(--secondary-color-saturation), 15%));

        background-image: url("../images/background/background-dating-darkmode.jpg");
    }
}