/* begin template 'dating' */
@font-face {
    font-family: 'Dancing Script';
    src: url('../../src/assets/fonts/textfonts/dancingscript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

#template-dating {
    --default-background: rgba(255, 255, 255, 0.2);
    --colored-background-gradient: linear-gradient(180deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    --colored-background-gradient-rotated: linear-gradient(0deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    background-image: url("../images/background/background-dating-lightmode.jpg");
    background-size: cover;
}

html {
    --tertiary-color: hsl(211, 46%, 72%);
    --primary-color-hue: 243;
    --primary-color-saturation: 60%;
    --primary-color-lightness: 75%;
    --secondary-color-hue: 304;
    --secondary-color-saturation: 40%;
    --secondary-color-lightness: 75%;
    --box-shadow: 0 0 2rem rgba(50, 50, 50, .1);
    --font-size: 1.8rem;
    --default-radius: 1rem;
    --default-padding: 1.5rem;
    --default-font-family: "Segoe UI", Roboto, sans-serif;
    --default-border-radius: .5rem;
    --default-border-color: var(--light-gray);
    --default-text-color: #666;
    --box-border-color: #ddd;
    --button-border-radius: 3rem;
    --main-navigation-background: #fff;
    --hyperlink-color: var(--primary-color);
    --hyperlink-color-saturation: 70%;
    --active-table-cell-background: hsla(var(--primary-color-hue), var(--primary-color-saturation), var(--primary-color-lightness), .25);
    --primary-color-opacity: .1;
    --button-font-weight: 600;
}

h1 {
    font-family: 'Dancing Script', cursive;
}

.box, fieldset, #flex-section .flex-container > *,
#grid-section [class*="grid-"] > div, table {
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(.7rem);
    -webkit-backdrop-filter: blur(.7rem);
    background: rgba(255, 255, 255, 0.2);
}

.main-navigation-wrapper {
    box-shadow: none;
}

fieldset{
    background: linear-gradient(180deg, hsl(var(--primary-color-hue), var(--primary-color-saturation), 97%) 0%, hsl(326, 40%, 92%) 100%);
}

tr {
    background: none;
}

:is(button, .button).primary {
    background: var(--colored-background-gradient);
}

.system-message :is(span, [class*="icon-"]) {
    text-shadow: var(--default-text-shadow);
}

:is(input, select, textarea, .input):focus {
    background: var(--primary-color-reduced-opacity);
}

html {
    &.dark-mode {
        #template-dating {
            --default-background: rgba(0, 0, 0, 0.2);
            --main-navigation-background: var(--dark-gray);
            background-image: url("../images/background/background-dating-darkmode.jpg");
        }

        fieldset{
            background: linear-gradient(180deg, hsl(var(--primary-color-hue), var(--primary-color-saturation), 7%) 0%, hsl(var(--secondary-color-hue), var(--secondary-color-saturation), 15%));
        }
    }
}

@media (prefers-color-scheme: dark) {
    #template-dating {
        --default-background: rgba(0, 0, 0, 0.2);
        --main-navigation-background: var(--dark-gray);
        background-image: url("../images/background/background-dating-darkmode.jpg");

        fieldset{
            background: linear-gradient(180deg, hsl(var(--primary-color-hue), var(--primary-color-saturation), 7%) 0%, hsl(var(--secondary-color-hue), var(--secondary-color-saturation), 15%));
        }
    }
}