/* begin template 'dating' */
html {
    /* overwrite variables from framework.css */
    --default-font-family: Roboto, sans-serif;
    --default-font-size: 1.4rem;
    --default-line-height: 2rem;
    --default-font-weight: 500;
    --text-color: hsl(29, 27%, 32%);
    --dark-mode-text-color: hsl(from var(--color-white) h s 80%);
    --primary-color-hue: 256;
    --primary-color-saturation: 51%;
    --primary-color-lightness: 64%;
    --secondary-color-hue: 155;
    --secondary-color-saturation: 45%;
    --secondary-color-lightness: 60%;
    --tertiary-color-hue: 211;
    --tertiary-color-saturation: 46%;
    --tertiary-color-lightness: 72%;
    --button-background-color-highlighted: var(--color-light-gray);
    --form-input-border-width: .2rem;
    --form-input-border-width-highlighted: .2rem;
    --form-input-padding: 1.6rem;
    --form-input-background-highlighted: var(--color-white);
    --form-input-height: auto;
    --form-input-with-icon-padding: calc(var(--default-padding)* 2);
    --tag-border-radius: 1rem;
    --default-box-shadow: 0 0 2rem hsl(from var(--color-black) h 30% l / .1); /* .1 */
    --default-padding: 1.5rem;
    --default-border-radius: .5rem;
    --default-border-color: var(--color-light-gray);
    --default-text-color: hsl(from var(--color-black) h s 30%);
    --box-border-color: hsl(from var(--color-black) h s 80%);
    --button-border-radius: 3rem;
    --button-border-color: var(--secondary-color);
    --main-navigation-background: light-dark(var(--color-light-gray), var(--color-dark-gray));
    --hyperlink-color: var(--primary-color);
    --hyperlink-color-saturation: 70%;
    --active-table-cell-background: light-dark(var(--color-light-gray), var(--color-gray-80));
    --primary-color-opacity: .1;
    --button-font-weight: var(--font-weight-semi-bold);
    --transparent-background: var(--color-white) / .2;
    --site-footer-background: var(--transparent-background);
    --default-background: light-dark(var(--color-white) / .2, var(--color-black) / .2);
    --input-height: 4.6rem;
    --headline-font-weight: normal;
    --form-element-with-icon-padding: calc(var(--default-padding) * 2);
    --fieldset-background: light-dark(var(--color-white) / .2, linear-gradient(180deg, hsl(var(--primary-color-hue), var(--primary-color-saturation), 7%) 0%, hsl(var(--secondary-color-hue), var(--secondary-color-saturation), 15%)));

    /* declare custom variables */
    --colored-background-gradient: linear-gradient(180deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    --colored-background-gradient-rotated: linear-gradient(0deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}


:where(button, .button) {
    &:not(.primary) {
        background: var(--color-white);

        span {
            color: var(--primary-color);
        }
    }

    &.primary {
        &:hover, &:active, &:focus {
            --primary-color-lightness: 74%;
            --button-box-shadow-higlighted: 0 .1rem .1rem var(--color-gray-50);
        }
    }
}

select {
    padding: var(--form-input-padding);
}

.main-navigation-wrapper {
    box-shadow: none;
}

tr {
    background: none;
}

:where(button, .button, input[type="submit"]) {
    &.primary {
        background: var(--colored-background-gradient);
    }

    & > [class*="icon-"]:not(:only-child) {
        top: 0;
    }
}

:is(input, select, textarea, .input) {
    &:focus {
        background: hsl(from var(--primary-color) h 30% l / .2);
    }
}

.system-message {
    & > input[type="checkbox"] {
        line-height: .3;
    }
}

html {
    font-size: var(--root-font-size);

    &.light-mode {
        .page-wrapper {
            /*
            background-image: url("../images/background/background-dating-lightmode.jpg");*/
        }
    }

    &.dark-mode {
        .page-wrapper {
            background-image: url("../images/background/background-dating-darkmode.jpg");
        }
    }
}

@media (prefers-color-scheme: dark) {
    .page-wrapper {
        background-image: url("../images/background/background-dating-darkmode.jpg");
    }
}