/* demopage-only.css - STYLES FOR DEMOPAGE ONLY - IT IS NOT RECOMMENDED TO EDIT THIS FILE (TO AVOID TROUBLESHOOTING AFTER UPDATING) */
.demopage {
    body {
        overflow: auto;
    }

    .site-header {
        flex: none;
    }

    .sidebar {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &.open {
            width: 30rem;

            .comand-versions {
                margin-top: auto;
                font-size: 1.2rem;
                margin-bottom: 0;
                background: var(--color-scheme-background);
                border-radius: 0;
            }
        }

        dd {
            white-space: nowrap;
        }

        > a {
            display: flex;
            flex: none;
            text-decoration: none;
            padding: calc(var(--default-padding) / 2);
            align-items: center;
            border: 0;
            border-left: var(--default-border);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    main {
        .width-limitation-wrapper {
            > section {
                padding: var(--default-padding);
            }

            section {
                padding-top: 6rem;
                padding-bottom: 6rem;
            }

            &:first-of-type section {
                padding-top: 0;
            }
        }

        h1.headline-demopage {
            font-size: 6rem;
            background: var(--color-white);
            border: var(--default-border);
            border-color: var(--primary-color);
            margin: 0;
            color: var(--primary-color);
            text-align: center;
            justify-content: center;
            border-radius: var(--default-border-radius);
        }

        h3.headline-demopage {
            background: none;
            gap: var(--default-gap-half);
        }

        fieldset h3.headline-demopage {
            padding: 0;
            justify-content: flex-start;
            color: var(--primary-color);

            span {
                color: inherit;
            }
        }

        h2.headline-demopage {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: var(--default-gap-half);
            text-align: center;
            color: var(--color-white);
            padding: calc(var(--default-padding) / 2);
            background: var(--primary-color);
            font-size: 4rem;
            margin-top: 0;
            font-family: "Century Gothic", Arial, sans-serif;
            text-transform: uppercase;
            margin-bottom: 2rem;
            border-radius: var(--default-border-radius);

            span, span[class*="icon-"] {
                color: inherit;
                font-size: inherit;
            }

            span[class*="icon-"] {
                font-size: 3rem;
            }
        }

        .demo-color-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;
            text-align: center;

            > span {
                &:first-child {
                    display: block;
                    width: 7.5rem;
                    aspect-ratio: 1/1;
                    border: var(--default-border);
                }
            }
        }
    }

    @media only screen and (width <= 1023px) {
        .sidebar {
            display: none;
        }
    }
}

#flex-section .flex-container > *,
#grid-section [class*="grid-"] > div {
    box-shadow: var(--default-box-shadow);
    background: var(--color-scheme-background);
}

.box.center-content {
    height: 15rem;

    > div {
        border: 1px dashed gray;
    }    
}

#frontend-framework-demo {
    .sidebar {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2000;
        max-width: 30rem;
        height: 100vh;
        margin: 0;
        padding: 0;
        gap: 0;
        border: 0;
        border-right: var(--default-border);

        .box {
            padding: 0;
            border: 0;
            border-radius: 0;

            &:nth-child {
                flex: 1;
            }

            > .box-header {
                display: flex;
                align-items: center;
                border-radius: 0;
                padding: calc(var(--default-padding) / 2) var(--default-padding);
                justify-content: space-between;
                background: var(--primary-color);
                color: var(--color-white);
                text-decoration: none;
                border: var(--primary-border);

                * {
                    color: var(--color-white);
                    margin-bottom: 0;
                }

                [class*="icon-"] {
                    font-size: var(--default-icon-size);
                }

                &:is(:hover, :active, :focus) {
                    background: var(--color-white);

                    * {
                        color: var(--primary-color);
                    }
                }
            }
        }

        .inner-sidebar-wrapper {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 1rem 0 0 0;
        }

        & > h3 {
            padding: 1rem;
            margin: 0;
        }

        .closed-sidebar {
            display: flex;
            flex-direction: column;
            gap: var(--default-gap);
            padding: 1rem;

            .button {
                align-self: center;
            }
        }
    }

    .copyright-information {
        background: var(--default-text-color);
        text-align: center;
        padding: var(--default-padding);
        flex: none;
        margin-top: 0;

        a {
            color: var(--color-white);
            text-decoration: none;

            &:is(:hover, :active, :focus) {
                text-decoration: underline;
            }
        }
    }

    #navigation {
        width: 25rem;
        border-right: var(--default-border);
        background: var(--color-white);
    }

    #grid-complex {
        grid-template-columns: 1fr 2fr 1fr;

        > div:nth-child(1) {
            grid-row: 1 / span 2;
        }

        > div:nth-child(4) {
            grid-column: 2 / span 2;
            grid-row: 3 / span 2;
        }

        > div:nth-child(9) {
            grid-column: 1 / span 2;
        }

        > div:nth-child(12) {
            grid-column: 2 / span 2;
        }
    }

    #flex-section .flex-container > *,
    #grid-section [class*="grid-"] > div {
        text-align: center;
        padding: var(--default-padding);
        border: var(--default-border);
    }

    main {
        flex: 1 0 auto;
    }
}

#template-business {
    .site-header {
        background: hsla(var(--primary-color-hue), var(--primary-color-saturation), var(--primary-color-lightness), .85);
    }

    #navigation {
        background: rgba(255, 255, 255, .1);

        h1 {
            font-size: 1.4rem;
            text-align: center;
            margin: 0;
            padding: calc(var(--default-padding) / 2);
            background: var(--primary-color);
            color: var(--color-white);
        }

        div {
            padding: var(--default-padding);
        }

        select {
            border-radius: 0;
        }

        li {
            list-style-type: none;
            line-height: 1.3;

            a {
                font-size: 1.3rem;
                text-decoration: none;
            }
        }

        > div > ul > li {
            margin-left: 0;

            &:first-child > a {
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        hr {
            margin: calc(var(--default-margin) / 2);
            border-color: var(--default-border-color);

            & + * {
                margin: 0;
            }

        }
    }
}

#template-tailwind {
    .sidebar {
        font-size: 1.4rem;

        .box {
            box-shadow: none;
        }
    }

    h2.headline-demopage {
        text-shadow: var(--default-text-shadow);
    }

    [class*="copyright-information"] {
        background: var(--copyright-information-background);
    }
}